@import "tailwindcss";

@theme {
  --color-gray-90: #e6e6e6;
  --color-gray-80: #cccccc;
  --color-gray-70: #b3b3b3;
  --color-gray-60: #999999;
  --color-gray-50: #808080;
  --color-gray-40: #666666;
  --color-light-purple: #ccccff;
  --color-purple: #9999ff;
  --color-deep-purple: #8080ff;
  --color-dark-purple: #4747ff;
  --color-red: #ffcccc;
  --color-deep-red: #ff8080;
  --color-dark-red: #ff4d4d;
}

body {
  @apply bg-gray-90;
}

@media (max-width: 768px) {
  /* 스크롤바 자체를 숨기기 */
  ::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

a {
  display: block;
}

a,
button,
input {
  @apply cursor-pointer;
}
select,
input,
textarea {
  @apply bg-gray-90 border border-gray-80 w-[100%];
}

button,
select,
input,
textarea {
  @apply rounded-[1rem] px-[1rem] py-[0.5rem];
}

button.small,
input.small,
select.small {
  @apply px-[0.5rem] py-[0.25rem] text-sm;
}
button.border,
input.border,
select.border {
  @apply border border-gray-50;
}
button.white {
  @apply bg-white;
}
/*button.white:hover {
  @apply bg-purple;
}*/

button.gray {
  @apply bg-gray-80;
}
/*button.gray:hover {
  @apply bg-gray-50;
}*/

button.purple {
  @apply bg-deep-purple text-white;
}
/*button.purple:hover {
  @apply bg-dark-purple;
}*/

button.red {
  @apply bg-deep-red text-white;
}
/*button.red:hover {
  @apply bg-dark-red;
}*/

button.blur-white {
  @apply backdrop-blur-[0.1rem] bg-white/50;
}
/*button.blur-white:hover {
  @apply bg-purple/75;
}*/
button:disabled {
  @apply pointer-events-none opacity-50;
}

button.blur-blue {
  @apply backdrop-blur-[0.1rem] bg-dark-purple/50 text-white;
}

button.blur-red {
  @apply backdrop-blur-[0.1rem] bg-dark-red/50 text-white;
}
button.shadow {
  @apply shadow-[0px_0px_0.5rem_rgba(0,0,0,0.1)];
}

select {
  @apply appearance-none;
}

textarea {
  @apply resize-none text-black placeholder-gray-50;
}

.table-wrapper {
  @apply overflow-x-auto rounded-xl;
}

table {
  @apply table-auto border-collapse overflow-x-auto text-center w-full;
}
table.small {
  @apply text-sm;
}

table th,
table td {
  @apply whitespace-nowrap px-[0.5rem] py-[0.25rem];
}

table th {
  @apply bg-gray-80 text-center;
}

tbody:has(tr:nth-child(odd):last-child) tr:nth-child(odd) {
  @apply bg-gray-90;
}

tbody:has(tr:nth-child(even):last-child) tr:nth-child(even) {
  @apply bg-gray-90;
}

input,
select,
textarea {
  @apply focus:outline-none focus:border-dark-purple active:border-dark-purple selection:border-dark-purple;
}
