@import "tailwindcss";

@theme {
  --color-light-gray: rgba(0, 0, 0, 0.1);
  --color-medium-gray: rgba(0, 0, 0, 0.2);
  --color-deep-gray: rgba(0, 0, 0, 0.4);
  --color-dark-gray: rgba(0, 0, 0, 0.8);

  --color-light-purple: oklch(0.5 0.25 270 / 25%);
  --color-medium-purple: oklch(0.5 0.25 270 / 50%);
  --color-deep-purple: oklch(0.5 0.25 270 / 75%);
  --color-dark-purple: oklch(0.5 0.25 270 / 100%);

  --color-light-red: oklch(0.5 0.25 30 / 25%);
  --color-medium-red: oklch(0.5 0.25 30 / 50%);
  --color-deep-red: oklch(0.5 0.25 30 / 75%);
  --color-dark-red: oklch(0.5 0.25 30 / 100%);

  --color-light-green: oklch(0.5 0.25 150 / 25%);
  --color-medium-green: oklch(0.5 0.25 150 / 50%);
  --color-deep-green: oklch(0.5 0.25 150 / 75%);
  --color-dark-green: oklch(0.5 0.25 150 / 100%);
}

body {
  @apply bg-light-gray;
}

@media (max-width: 768px) {

  /* 스크롤바 자체를 숨기기 */
  ::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

a {
  display: block;
}

a,
.button,
input {
  @apply cursor-pointer;
}

select,
input,
textarea {
  @apply bg-light-gray border border-medium-gray;
}

.button,
select,
input,
textarea {
  @apply rounded-[1rem] px-[1rem] py-[0.5rem];
}

.button.small,
input.small,
select.small {
  @apply px-[0.5rem] py-[0.25rem] text-sm;
}

.button.border,
input.border,
select.border {
  @apply border border-medium-gray;
}

.button {
  @apply whitespace-nowrap;
}

.button.white {
  @apply bg-white;
}

.button.gray {
  @apply bg-medium-gray;
}

.button.purple {
  @apply bg-deep-purple text-white;
}

.button.red {
  @apply bg-deep-red text-white;
}

.button:disabled {
  @apply pointer-events-none opacity-50;
}

.button.shadow {
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.1);
}

select {
  @apply appearance-none min-w-max !max-w-full;
}

textarea {
  @apply resize-none;
}

.table-wrapper {
  @apply overflow-x-auto rounded-[1rem];
}

table {
  @apply table-auto border-collapse overflow-x-auto text-center w-full;
}

table thead tr th:first-child {
  @apply rounded-tl-[1rem];
}

table thead tr th:last-child {
  @apply rounded-tr-[1rem];
}

table tbody tr:last-child td:first-child {
  @apply rounded-bl-[1rem];
}

table tbody tr:last-child td:last-child {
  @apply !rounded-br-[1rem];
}

table.small {
  @apply text-sm;
}

table th,
table td {
  @apply whitespace-nowrap px-[0.5rem] py-[0.25rem];
}

table th {
  @apply bg-medium-gray text-center;
}

tbody:has(tr:nth-child(odd):last-child) tr:nth-child(odd) {
  @apply bg-light-gray;
}

tbody:has(tr:nth-child(even):last-child) tr:nth-child(even) {
  @apply bg-light-gray;
}

input,
select,
textarea {
  @apply focus:outline-none focus:border-dark-purple active:border-dark-purple selection:border-dark-purple placeholder-deep-gray;
}