@import "tailwindcss";

@theme {
  --color-gray-90: #e6e6e6;
  --color-gray-80: #cccccc;
  --color-gray-70: #b3b3b3;
  --color-gray-60: #999999;
  --color-gray-50: #808080;
  --color-gray-40: #666666;
  --color-light-purple: #ccccff;
  --color-purple: #9999ff;
  --color-deep-purple: #8080ff;
  --color-dark-purple: #4747ff;
  --color-red: #ffcccc;
  --color-deep-red: #ff8080;
  --color-dark-red: #ff4d4d;
}

body {
  @apply bg-gray-90;
}

@media (max-width: 768px) {

  /* 스크롤바 자체를 숨기기 */
  ::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

a {
  display: block;
}

a,
.button,
input {
  @apply cursor-pointer;
}

select,
input,
textarea {
  @apply bg-gray-90 border border-gray-80;
}

.button,
select,
input,
textarea {
  @apply rounded-[1rem] px-[1rem] py-[0.5rem];
}

.button.small,
input.small,
select.small {
  @apply px-[0.5rem] py-[0.25rem] text-sm;
}

.button.border,
input.border,
select.border {
  @apply border border-gray-50;
}

.button {
  @apply whitespace-nowrap;
}

.button.white {
  @apply bg-white;
}

.button.gray {
  @apply bg-gray-80;
}

.button.purple {
  @apply bg-deep-purple text-white;
}

.button.red {
  @apply bg-deep-red text-white;
}

.button:disabled {
  @apply pointer-events-none opacity-50;
}

.button.shadow {
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.1);
}

select {
  @apply appearance-none min-w-max;
}

textarea {
  @apply resize-none text-black placeholder-gray-50;
}

.table-wrapper {
  @apply overflow-x-auto rounded-[1rem];
}

table {
  @apply table-auto border-collapse overflow-x-auto text-center w-full;
}

table thead tr th:first-child {
  @apply rounded-tl-[1rem];
}

table thead tr th:last-child {
  @apply rounded-tr-[1rem];
}

table tbody tr:last-child td:first-child {
  @apply rounded-bl-[1rem];
}

table tbody tr:last-child td:last-child {
  @apply !rounded-br-[1rem];
}

table.small {
  @apply text-sm;
}

table th,
table td {
  @apply whitespace-nowrap px-[0.5rem] py-[0.25rem];
}

table th {
  @apply bg-gray-80 text-center;
}

tbody:has(tr:nth-child(odd):last-child) tr:nth-child(odd) {
  @apply bg-gray-90;
}

tbody:has(tr:nth-child(even):last-child) tr:nth-child(even) {
  @apply bg-gray-90;
}

input,
select,
textarea {
  @apply focus:outline-none focus:border-dark-purple active:border-dark-purple selection:border-dark-purple;
}