<nav id="navbar" class="bg-transparent *:*:backdrop-blur-2xl w-full overflow-x-auto snap-x *:snap-start *:scroll-mx-[0.5rem] flex gap-[0.25rem] items-center justify-center-safe p-[0.5rem] *:whitespace-nowrap *:*:shadow-[0px_0px_8px_rgba(0,0,0,0.1)]">
  <div>
    <a href="#/" data-path="/" class="button default">생활소임 일정표</a>
  </div>
  <div id="payment-nav-item">
    <a href="#/payment" data-path="/payment" class="button default">일정불참 결재신청</a>
  </div>
  <div>
    <button id="logout-btn" class="button red">로그아웃</button>
  </div>
</nav>