@import "tailwindcss";

@theme {
  --color-gray: #efefef;
  --color-purple: #ccccff;
  --color-dark-purple: #8080ff;
}

@media (max-width: 768px) {
  /* 스크롤바 자체를 숨기기 */
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}

.button {
  @apply rounded-lg px-[0.75rem] py-[0.5rem];
}

.button.white, .button.gray, .button.purple {
  @apply bg-blend-difference backdrop-blur-lg;
}
.button.white {
  @apply bg-white/75;
}
.button.gray {
  @apply bg-gray/75;
}
.button.purple {
  @apply bg-dark-purple/75 text-white;
}
